@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-500px);
    } to {
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(500px);
    } to {
        transform: translateX(0);
    }
}

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(500px);
    } to {
        transform: translateY(0);
    }
}

.left-card {
    animation-name: fadeInLeft;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-delay: onscroll;
    animation-iteration-count: 1;
}

.middle-card {
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
}

.right-card {
    animation-name: fadeInRight;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
    
}