.body-color {
    background-color: #211919fd  !important;
}

.section-name {
    /* color: whitesmoke; */
    color: white;
}

.nav-container {
    background-color: #0b0909c4;
}

.aboutme-section{
    color: white;
}
.project-card {
    /* background-color: #1f2f34; */
    background-color: #B3DEC1;
    color: black !important;
}
.project-card:hover {
    /* background-color: #254955; */
    background-color: #aeeedb;
}
.secondary-header:hover{
    color: rgb(9, 204, 243) !important;
}

.project-links {
    color: rgba(219, 75, 27, 0.906);
}

.project-btn{
    color: #453a3a;
    /* background-color: #aeeedb; */
    background: url("../imgs/plus-sign.png") no-repeat scroll center center transparent;
    background-size: 30px;
    background-position: center;
    background-position-x: center;
}

.project-btn:hover{
    color: white;
    background-color: hsl(0, 0%, 100%);
}