.body-color {
    background-color: #222  !important;
    /* background-color: #09ccf3  !important; */
    /* background-color: #EABE6C  !important; */
}

.section-name {
    /* color: whitesmoke; */
    color: white;
}

.nav-container {
    background-color: #222  !important;
    /* background-color: #EABE6C  !important; */
}

.aboutme-section{
    font-family: "Source Code Pro";
    color: rgb(201, 123, 123);
}
.project-card {
    /* background-color: #1f2f34;  darkmode 
       color: white;*/
    background-color: #B3DEC1; /* Light Mode */
    color: rgb(201, 123, 123);
}
.project-card:hover {
    /* background-color: #254955; darkmode */
    background-color: #aeeedb;
}
.aboutme-section .secondary-header {
    color: rgb(255, 255, 255);
}
.aboutme-section .secondary-header:hover {
    color: white !important;
}
.secondary-header:hover{
    color: rgb(9, 204, 243) !important;
}

.project-links {
    color: rgba(245, 0, 0, 0.846);
}
.project-links:hover {
    color: rgba(27, 22, 22, 0.846);
}

.project-btn{
    color: #453a3a;
    /* background-color: #aeeedb; */
    background: url("../imgs/plus-sign.png") no-repeat scroll center center transparent;
    background-size: 30px;
    background-position: center;
    background-position-x: center;
}

.project-btn:hover{
    color: white;
    background-color: hsl(0, 0%, 100%);
}