.body-color {
    background-color: #373131fd  !important;
}

.section-name {
    /* color: whitesmoke; */
    color: white;
}

.nav-container {
    background-color: #2b2b2b;
}

.aboutme-content{
    color: white;

}

.project-card {
    /* background-color: #1f2f34; */
    background-color: #B3DEC1;
    color: black !important;
}
.project-card:hover {
    /* background-color: #254955; */
    background-color: #aeeedb;
}
.project-header{
    /* color: rgb(9, 204, 243) !important; */
    color: #8b5454;
}
.project-header:hover{
    /* color: rgb(9, 204, 243) !important; */
    color: #cdb0b0;
}

.project-links {
    color: rgba(219, 75, 27, 0.906);
}

.project-btn{
    color: #453a3a;
    /* background-color: #aeeedb; */
    background: url("../imgs/plus-sign.png") no-repeat scroll center center transparent;
    background-size: 30px;
    background-position: center;
    background-position-x: center;
}

.project-btn:hover{
    color: white;
    background-color: #ac8b8b;
}