/* General Tags */
*{
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
em {
    color: rgb(191, 191, 47);
    text-decoration: none;
    font-weight: 600;
}
em:hover {
    color: rgb(141, 123, 89);
}
.flex-hor {
    display: flex;
    flex-flow: row wrap;
}
.flex-ver {
    display: flex;
    flex-flow: column wrap;
}

/* Navbar */
.nav-container {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    height: 3rem;
    z-index: 10;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0rem 10rem;
    border-bottom: 2px rgb(255, 255, 255) solid;
}
.nav-logo-img {
    width: 2rem;
    margin-right: .5rem;
    height: auto;
}
.nav-logo-title {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    top: .25rem;
}
.nav-links {
    align-self: center;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px 1rem;
}
.nav-links a:hover{
    color: yellow;
}
.nav-linktext {
    display: inline-block;
    position: relative;
    bottom: .5rem;
}


/* Sections */
.main{
    z-index: 5;
    display: flex;
    flex-flow: column wrap;
    margin: 5rem auto 0rem auto;
    justify-content: center;
    align-content: center;
}
.section {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}
.section-header {
    display: flex;
    block-size: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}
.section-name {
    display: inline-block;
    position: relative;
    text-align: start;
    font-size: 2rem;
    margin-bottom: .5rem;
    top: .25rem;
}
.section-icon {
    display: inline-block;
    width: 3rem;
    margin-right: .5rem;
}

/* About Me  */
.aboutme-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.about-card {
    width: 500px !important;
    color: white;
    background-color: #473a3e00 !important;
    padding: 5px;
    /* margin: 0px .5rem; */
    border: none !important;
    border-radius: 0 !important;
    img {
        max-height: 320px;
        border-radius: 10px;
    }
}
.carousel-item{
    width: 500px !important;

}
.aboutme-content{
    align-self: center;
    max-width: 60%;
    border-radius: 20px;
    margin: 10px;
}
.aboutme-img {
    width: 35%;
    min-width: 275px;
}

/* Projects Section */
.projects-section {
    width: 90%;
    columns: 2;
    column-gap: 10px;
    align-items: start;
}
.project-card{
    border-radius: .75rem;
    border: 5px black solid;
    padding: 1rem;
    padding-bottom: 5px;
    width: 100%;
    margin: 0rem 1rem .5rem 1rem;
    break-inside: avoid;
    /* height:min-content; */
}
.project-norm {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row nowrap;
    /* margin-bottom: .25rem */
}
.project-img {
    width: 175px;
    height: auto;
    border-radius: 1rem;
    margin-right:1.25rem;
}
.projects-section-header{
    justify-content: center;
}
.project-gitlink{
    display: block;
    width: fit-content;
    text-decoration: none;
    font-weight: 900;
}

.project-header{
    font-size: 1.25rem;
}

.project-right {
    width: 70%;
}
.project-full {
    margin-top: .25rem;
    width: 95%;
}
.project-full p {
    margin-bottom: 0rem;
}
.project-btn:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border: none;
}
.project-btn{
    position: relative;
    padding-left: 4px;
    margin-left: 95%;
    margin-bottom: 0px !important;
    font-size: 1.5rem !important;
    border: 1px #acc7bb solid;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 10px;
    width: 30px;
    height: 30px;
}
.project-skills-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.project-skills {
    width: 85%;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* center or start ???*/
    list-style: none;
    padding: 0px !important;
    margin: 0px;
}
.project-list li {
    padding: .5rem;
    border-radius: .5rem;
    margin: .25rem;
    opacity: .8;
    /* 1 or .8 or .9 ???*/
    color: black;
}



/* Breakpoints 
    1050 wide (navbar)
    950 (aboutme)
*/