/* General Tags */
*{
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #EABE6C !important;
    /* z-index: ; */
}
header {
    background-color: #EABE6C;
}
.em {
    color: yellow;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}
.em:hover {
    color: yellow;
}
.flex-hor {
    display: flex;
    flex-flow: row wrap;
}
.flex-ver {
    display: flex;
    flex-flow: column wrap;
}

/* Navbar */
.nav-container {
    display: flex;
    height: 4rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0rem 10rem;
    border-bottom: 2px rgb(255, 255, 255) solid;
}
.nav-logo-img {
    position: relative;
    width: 2rem;
    margin-right: .5rem;
    height: auto;
}
.nav-logo-title {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    top: .25rem;
}
.nav-links {
    align-self: center;

}
.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px 1rem;
}
.nav-linktext {
    display: inline-block;
    position: relative;
    bottom: .5rem;
}


/* Sections */
.main{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 5rem auto 0rem auto;
    margin-top: 5rem;
    justify-content: center;
    align-content: center;
    
}
.section {
    margin-bottom: 1rem;
}
.section-header {
    display: flex;
    align-content: center;
}
.section-name {
    display: inline-block;
    position: relative;
    text-align: start;
    font-size: 2rem;
    margin-bottom: .5rem;
    top: .25rem;
}
.section-icon {
    display: inline-block;
    width: 3rem;
    margin-right: .5rem;
}

/* About Me  */
.aboutme-section {
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.aboutme-content{
    width: 60%;
    border-radius: 20px;
    color: black;
    margin: 10px;
}
.aboutme-img {
    width: 30%;
    overflow: hidden;
}

/* Projects Section */
.project-card-container {
    display: flex;
    flex-flow: column wrap;
}
.project-card{
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: .75rem;
    background-color: #e6b456; 
    color: rgb(0, 0, 0);
}
.project-img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin:0rem 1.25rem;
}
.projects-section-header{
    justify-content: center;
}
.project-header{
    font-size: 1.25rem;
}
.project2 .project-card{
    background-color: #e6c07c;
}
.project-show-skills{
    width: 20px;
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 1rem;
    position: relative;
    top: 0px;
    float: right;
    margin-right: 1.25rem;
    border: none;
    background: none;
}
.project-skills{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.project-list {
    display: flex;

    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* add margin bottom when displayed and remove margin bottom from project-car */
}
.project-list li {
    padding: .25rem;
    border-radius: 1rem;
    margin: .25rem;
    background-color: #e6b456;
}
/* Breakpoints 
    1050 wide (navbar)

*/